




#rltdbtn
{
	width: 50%;
	height: 20%;
	position:absolute;
	left: 1%;
	padding-top: 1%;
	font-size: 25px;
}
#rltdbtn1
{
	width: 55%;
	height: 35%;
	position:absolute;
	left: 1%;
	padding-top: 1%;
	margin-top: 39%;
	margin-bottom: 10%;
	font-size: 25px;
}

#blockh3
{
	position:absolute;
	top:6vh;
	left: 15.5vw;
	height: 25vh;
	width: 65vw;
	overflow-y:scroll;
}
#blockroad
{
	position:absolute;
	top:16vh;
	left: 39.5vw;
}

#RltdQuesdiv,#RltdVideosdiv
{
	font-size: 20px;
	margin: -60px 20px 20px 20px;
	width: 90%;
}


* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  overflow: hidden;
  background-color: #2196f3;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: #2196f3;
  color: white;
}

.header-right {
  float: right;
}


#EurekaLogo
{
	width: 31%;
	float: left;
}

.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */   
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}








.output-bot
{
	color:blue;
	font-size: 1.9vw;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100vw; /* Full width */
  height: 100vh; /* Full height */
  color: white;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity/see-through */
   
}

/*#Eureka { color: #d54d7b; font-family: "Great Vibes", cursive; font-size: 135px; line-height: 160px; font-weight: normal; margin-bottom: 0px; margin-top: 0px; text-align: center; text-shadow: 0 1px 1px #fff; }
*/
/* Modal Content */
.modal-content {
  border: 1px solid #888;
  margin: -60px 20px 50px 20px;
  width: 90%;
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 48px;
  font-weight: bold;
  margin-right: 4%;
}

.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.Footimg1
{
	top: 80vh;
	position: absolute;
}
.mainfoot
{
	width: 100vw;
	height: 20vh;
}
Foot
{
	width: 100%;
	height: 100%;
	position: relative;
}
input[type="submit"] {
    float:right;
    width: 3vw;
    height: 3vh;
    color: black;
    background-color: #82e2ee;
    font-size:larger;
    font: xx-large;
   }

button {
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 12vw;
  height: 20vh;
  border: 0;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  background: linear-gradient(180deg, #39C2C9 0%, #3FC8C9 80%, #3FC8C9 100%);
  box-shadow: 2px 5px 30px rgba(63, 200, 201, .4);
  position: absolute;
  left: 44vw;
  bottom: 0.2vw;
  will-change: transform, filter;
  transition: all 0.3s ease-out;
}
button .fa {
    font-size: 8.5vw;
    line-height: 4vh;
    left: 3.3vw;
    margin: 0;
    position:absolute;
    text-shadow: 1px 2px 2px #2a8b90;
	}
button:hover {
  transform: scale(.92);
}
button:active {
  filter: brightness(.8);
}
button:focus {
  outline: 0;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-github::before {
    content: "\f09b";
}

#block 
{ 
	position: absolute; 
    padding-bottom: 41.65vw;
	width: 55vw;
	top: 26%;
	left: 25%;  
}
#YouSaid
{
position: absolute;
bottom: 5vh;
left: 3vw;
height: 70vh;
width: 20vw;  
}
#EurekaReplied
{
position: absolute;
bottom: 20vh;
right: 3vw;
height: 55vh;
width: 24vw;
overflow-y: scroll; 
}
#InputText
{
	height: 30px;
	width: 80%;
	position: absolute;
	box-sizing: border-box;
	font-size: 25px;
	color: blue;
	font-family:-webkit-pictograph;
	font-style:italic;
}
#InputText
{
	height: 2.5vw;
	font-size: 2.5vw;
}
input[type="submit"]
{
		height: 2.8vw;
		font-size: 1.6vw;
}
#You,#Bot
	{
	font-size: 2.5vw;
	color: blueviolet
	}
@media screen and (max-width: 3840px) {
	#InputText
	{
	width: 24vw;
	height: 3.5vw;
	font-size: 2.2vw;
	left: -10%;
	}
	input[type="submit"]
	{
	font-size: 2.3vw;
	width: 8vw;
	height: 3.5vw;
	position:absolute;
	left: 4vw;
	top: 18vh;
	}
	#rltdbtn
	{
	margin-top: 135px;
	margin-bottom: 75px;
	}
	#rltdbtn1
	{
	margin-top: 360px;
	margin-bottom: 75px;
	}
	iframe
	{
	position:absolute;
	margin-left: 10%;
	}
	.header a {
  	font-size: 3vw;
  	font-weight: bold;
  	position:absolute;
  	right: 0.5vw;
  	top: 4.3vw;
	}
	#YouSaid
	{
	width: 15vw;
	}
	#block 
	{ 
	left: 18.2vw;  
	}
	#EurekaReplied
	{
		left: 76.3vw;
	}
	.header {
		height: 11.5vw;
	}
	#Blockimage
	{
	width: 70%;
	height: 60%;
	position:absolute;
	left: 15%;
	top: 1%;
	}
	#rltdbtn,#rltdbtn1
	{
	width: 60%;
	height: 15%;
	font-size: 60px;
	}
	
	@media screen and (max-height: 900px) {
	button {
     width: 6vw;
     height: 8vw;
     left: 47vw;
     bottom: 1vh;
	}
	button .fa {
    font-size: 5vw;
    line-height: 3vh;
    left: 1.4vw;
	}

	}
}

@media screen and (max-width: 1366px) {
	#InputText
	{
	width: 24vw;
	height: 3.5vw;
	font-size: 2.2vw;
	left: -10%;
	}
	input[type="submit"]
	{
	font-size: 2.3vw;
	width: 8vw;
	height: 3.5vw;
	position:absolute;
	left: 4vw;
	top: 9vw;
	}
	#rltdbtn
	{
	width: 65%;
	height: 15%;
	font-size: 25px;
	margin-top: 45px;
	margin-bottom: 25px;
	}
	
	#block 
	{ 
	left: 22%;  
	}
	#rltdbtn1
	{
	width: 65%;
	height: 15%;
	font-size: 25px;
	margin-top: 145px;
	margin-bottom: 25px;
	}
	#blocktable
	{
	width: 80%;
	height: 80%;
	font-size: 20px;
	overflow-y: scroll;
	overflow-x: scroll;
	position:absolute;
	box-sizing:border-box;
	left: 23%;
	top: 8%;
	display: block;

	}
	#blockh3
	{
	position:absolute;
	top:6vh;
	left: 14vw;
	height: 25vh;
	width: 35vw;
	overflow-y:scroll;
	}
	#blockroad
	{
	position:absolute;
	top:16vh;
	left: 24vw;
	font-size: 45px;
	font-weight:bold;
	}
	#Blockimage
	{
	width: 70%;
	height: 60%;
	position:absolute;
	left: 19%;
	top: 1%;
	}
	@media screen and (max-height: 850px) {
	
	#blockroad
	{
	position:absolute;
	top:24vh;
	}
	}

}

@media screen and (max-width: 1024px) {
	button {
     width: 14vw;
     height: 21vw;
     bottom: 1vh;
	}
	button .fa {
    font-size: 12vw;
    line-height: 2vh;
    left: 3.2vw;
	}
	#blocktable
	{
		left: 1%;
		width: 120%;
		height: 110%;
		font-size: 25px;
	}
	#blockroad
	{
	position:absolute;
	top:13vh;
	left: 20.5vw;
	font-size: 36px;
	}
	#blockh3
	{
	position:absolute;
	top:6vh;
	left: -1vw;
	height: 25vh;
	width: 65vw;
	overflow-y:scroll;
	}
	.header {
		height: 17vw;
	}
	input[type="submit"]
	{
	font-size: 1.4vw;
	top: 5.3vw;
	}
	#YouSaid
	{
	position: absolute;
	top: 15vh;
	left: 17vw;
	height: 7.5vh;
	width: 38vw;  
	}
	#EurekaReplied
	{
	position: absolute;
	bottom: 17.5vh;
	left: 17vw;
	height: 20vh;
	width: 69vw;
	overflow-y: scroll;
	}
	#InputText
	{
	width: 45vw;
	height: 3.5vw;
	font-size: 3.1vw;
	left: -2%;
	}
	input[type="submit"]
	{
	font-size: 2.3vw;
	width: 8vw;
	height: 4.1vw;
	padding-top: 0.5vw;
	position:absolute;
	left: 45vw;
	}
	#rltdbtn,#rltdbtn1
	{
	width: 35%;
	height: 25%;
	font-size: 25px;
	margin-bottom: 65px;
	}
	#Blockimage
	{
	top: 15%;
	left: 15%;
	}
	#block 
	{ 
	left: 12%; 
	top: 40vw; 
	}
}

@media screen and (max-width: 768px) {
	#blocktable
	{
	width: 80%;
	height: 80%;
	overflow-y: scroll;
	overflow-x: scroll;
	position:absolute;
	box-sizing:border-box;
	left: 13%;
	top: 8%;
	display: block;
	font-size: 13px;

	}
	#blockh3
	{
	position:absolute;
	top:6vh;
	left: 12vw;
	height: 25vh;
	width: 70vw;
	overflow-y:scroll;
	}
	button {
     width: 14vw;
     height: 17vw;
     bottom: 0vh;
	}
	button .fa {
    font-size: 10.5vw;
    line-height: 2vh;
    left: 3.7vw;
	}
	#rltdbtn,#rltdbtn1
	{
	width: 45%;
	height: 35%;
	font-size: 25px;
	}
	#blockroad
	{
	position:absolute;
	top:16vh;
	left: 38vw;
	font-size: 40px;
	}
	.output-bot
	{
	color:blue;
	font-size: 3vw;
	}
	iframe
	{
	position:absolute;
	margin-top: 6vh;
	}
    .mainfoot
    {
       max-width: 100vw;
	   max-height: 90px;	/* The width is 100%, when the viewport is 800px or smaller */
    }
    .Footimg1
	{
	top: 93vh;
	position: absolute;
	}
	#block
	{
	position: absolute;
	box-sizing: border-box;
	padding-right: 99vw;
	margin-left: -11.5vw;
	height: 41vh;
	top: 23.5vh;
	}
	
	#YouSaid
	{
	position: absolute;
	top: 15vh;
	left: 12vw;
	height: 7.5vh;
	width: 38vw;  
	}
	#EurekaReplied
	{
	position: absolute;
	bottom: 17.5vh;
	left: 12vw;
	height: 20vh;
	width: 69vw;
	overflow-y: scroll;
	}
	.header {
		height: 17vw;
	}
	
	#You, #Bot
	{
	font-size: 3.5vw;
	color: blueviolet
	}
	#InputText
	{
	width: 45vw;
	height: 3.5vw;
	font-size: 3.1vw;
	}
	input[type="submit"]
	{
	top: 7vw;
	}
	#EurekaLogo
	{
	width: 41%;
	float: left;
	}
	.header a {
  	font-size: 5vw;
	}
	@media screen and (max-height: 1100px) {
	.Footimg1
	{
	top: 91vh;
	}
	}
	@media screen and (max-height: 850px) {
	.Footimg1
	{
	top: 89vh;
	}
	
	#block
	{
	top: 24.5vh;
	}
	}

}
@media screen and (max-width: 680px) {
	input[type="submit"]
	{
		height: 4.3vw;
	}
	#blockroad
	{
	
	font-size: 23px;
	font-weight:bold;
	}
}
@media screen and (max-width: 600px) {
	input[type="submit"]
	{
		height: 4.3vw;
		top: 9vw;
	}
	.output-bot
	{
	color:blue;
	font-size: 3.5vw;
	}
	#You,#Bot
	{
	font-size: 4.5vw;
	color: blueviolet
	}
	.header {
		height: 19vw;
	}
	@media screen and (max-height: 760px) {
		.Footimg1
		{
		top: 85vh;
		}
	}
}
@media screen and (max-width: 550px) {
	#rltdbtn,#rltdbtn1
	{
	width: 55%;
	font-size: 23px;
	}
	
	#YouSaid
	{
	position: absolute;
	top: 13vh; 
	}
	#block
	{
	top: 23vh;
	}
	#EurekaReplied
	{
	bottom: 17vh;
	}
	@media screen and (max-height: 850px) {
	#block
	{
	top: 24.5vh;
	}
	}

}
@media screen and (max-width: 500px) {
	.output-bot
	{
	color:blue;
	font-size: 4.3vw;
	}
	input[type="submit"]
	{
		height: 5.5vw;
		font-size: 3vw;
		top: 11vw;
	}
	#InputText
	{
	width: 45vw;
	height: 4.5vw;
	font-size: 3.1vw;
	}
	button {
     width: 14vw;
     height: 19vw;
	}
	button .fa {
    font-size: 13vw;
    line-height: 2vh;
    left: 3vw;
	}
	
	#You,#Bot
	{
	font-size: 5.5vw;
	color: blueviolet
	}
	@media screen and (max-height: 800px) {
		button {
     left: 43vw;
	}
	}

}
@media screen and (max-width: 450px) {
	.header {
		height: 23vw;
	}
	#InputText
	{
	height: 5.5vw;
	font-size: 4.2vw;
	}
	input[type="submit"]
	{
		width: 11.4vw;
		height: 6vw;
		font-size: 3.5vw;
		top: 11.5vw;
	}
	#block
	{
	top: 23vh;
	}
	#EurekaReplied
	{
	width: 75vw;
	}
	button {
     width: 14vw;
     height: 19vw;
     bottom: 0.5vh;
     left: 42.7vw;
	}
	button .fa {
    font-size: 11vw;
    line-height: 2vh;
    left: 3.6vw;
	}
	@media screen and (max-height: 700px) {
	.header {
		height: 21vw;
	}
	#block
	{
	top: 24.5vh;
	}
	}
}
@media screen and (max-width: 400px) {
	#blockroad
	{
	left: 37vw;
	font-size: 20px;
	}
	button {
     width: 14vw;
     height: 20vw;
     bottom: 0.5vh;
     left: 42.1vw;
	}
	.output-bot
	{
	color:blue;
	font-size: 4.5vw;
	}
	#rltdbtn,#rltdbtn1
	{
	font-size: 18px;
	}
	input[type="submit"]
	{
		width: 11.4vw;
		height: 6.5vw;
		font-size: 3.5vw;
		top: 11.5vw;
	}

}
@media screen and (max-width: 360px) {
	#blockroad
	{
	left: 37vw;
	font-size: 20px;
	}
	button {
     width: 14vw;
     height: 21vw;
     bottom: 1vh;
	}
	button .fa {
    font-size: 11vw;
    line-height: 2vh;
    left: 3.45vw;
	}
	#InputText
	{
	height: 6.5vw;
	font-size: 5.2vw;
	}
	input[type="submit"]
	{
		width: 11.4vw;
		height: 6.8vw;
		font-size: 3.9vw;
		top: 12vw;
	}
	#block
	{
		top: 24vh;
	}
	.header {
		height: 24vw;
	}
	@media screen and (max-height: 580px) {
	#blockroad
	{
	position:absolute;
	top:14vh;
	left: 28vw;
	font-size: 16px;
	}
		iframe
		{
		position:absolute;
		margin-top: 3vh;
		}
		.Footimg1
		{
		top: 83vh;
		}
		#block
		{
		position: absolute;
		box-sizing: border-box;
		padding-right: 75vw;
		left: 18%;
		height: 35vh;
		top: 28vh;
		}
		#EurekaReplied
		{
		position: absolute;
		bottom: 23vh;
		}
	}
}
@media screen and (max-width: 320px) {
	#Blockimage
	{
	width: 90%;
	height: 70%;
	}
	#blocktable
	{
	width: 95%;
	height: 85%;
	overflow-y: scroll;
	position:absolute;
	left: 7%;
	top: 3%;
	}
	#blockroad
	{
	position:absolute;
	top:15vh;
	font-size: 18px;
	left: 32vw;
	}
	#blockh3
	{
	position:absolute;
	top:4vh;
	left: 11.5vw;
	}
	input[type="submit"]
	{
		width: 13vw;
		height: 8vw;
		font-size: 4.5vw;
	}
	.header {
		height: 22vw;
	}
	#rltdbtn,#rltdbtn1
	{
	font-size: 14px;
	}
	#block
	{
		top: 45vw;
	}
	
	
}
@media screen and (max-width: 260px) {
	input[type="submit"]
	{
		top: 13.5vw;
		height: 8.3vw;
	}
}
#EurekaReplied
{
overflow-y: scroll; 
}

table {
  border-collapse: collapse;

}
th {
  background-color: #4CAF50;
  color: white;
}

tr:nth-child(even) {background-color: #f2f2f2;}



